.c-base {
  &__wrapper {
      height: 100vh;
  
      &-content {
        display: flex;
        flex-direction: column;
  
        &-right {
          margin-left: 288px;
        }
  
        &-bottom {
          padding-top: 20px;
          padding-left: 20px;
          display: flex;
        }
      }
    }
  &__content {
    &_right {
      padding: 100px 20px;
    }
  }
  &__text {
    &_bold {
      font-weight: 700;
    }
  }
  &__sub-view{
    height: 100vh;
  }
}

@media only screen and (max-width : 1440px) {
  .c-base {
    &__wrapper {
        height: 100vh;
    
        &-content {
          display: flex;
          flex-direction: column;
    
          &-right {
            margin-left: 238px;
          }
    
          &-bottom {
            padding-top: 20px;
            padding-left: 20px;
            display: flex;
          }
        }
      }
    &__content {
      &_right {
        width: 1118px;
        float: right;
      }
    }
  }
}