.c-base {
  &__wrapper {
    display: flex;
    height: 100vh;
  }

  &__content {
    width: 93%;
    background-color: #F6F6F6;
    &-bottom{
      padding: 20px;
    }
  }

  &__input {
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #CDCDCD;
    font-size: 16px;
    line-height: 21px;
    padding: 10px;
    color: #333333;
  }

  &__page{
    &-header{
      margin-bottom: 20px;
    }
  }

  &__task{
    &-status{
      padding: 5px 10px;
      border-radius: 3px;
      font-size: 12px;
      font-weight: 800;
      max-height: 26px;
      &_todo{
        width: 69px;
        background-color: #f6f6f6;
      }
      &_in-progress{
        width: 103px;
        background: #002962;
        color: #FFFFFF;
      }
    }
  }
}

@media only screen and (max-width: 1440px){
  .c-base {
    &__content {
      width: 93%;
      &-bottom{
        padding: 20px;
      }
    }
  
    &__input {
      width: 300px;
      height: 45px;
    }
  }
}