.c-kanban {
  &__wrapper {
    height: 100vh;
    &-content{
      display: flex;
      flex-direction: column;
      &-right {
        margin-left: 238px;
      }
      &-bottom {
        padding-top: 20px;
        padding-left: 20px;
        display: flex;
      }
    }
  }
  &__board{
    width: 235px;
      padding: 20px;
      margin-right: 20px;
      background: #f7f7f7;
      border-radius: 3px;
  }
  &__task{
    padding: 10px;
    margin-top: 20px;
    background-color: #FFFFFF;
    &-status-title{
      font-weight: 700;
    }
    &-status-btn{
      width: 50%;
      border-radius: 2px;
      margin-top: 5px;
      padding: 5px;
      font-size: 14px;
      font-weight: 700;
      &_todo{
        background-color: #E3E3E3;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .c-kanban{
  }
}