.c-kanban{
  &__board{
    display: flex;
  }
  &__column{
    &-status{
      font-weight: 800;
    }
  }
}

@media only screen and (max-width: 1440px){
  .c-kanban {
    &__column{
      width: 300px;
      margin-right: 20px;
    }
  }
}