*{
  font-family: 'Manrope', sans-serif;
}

body{
  margin: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 100px;
}